body {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-display:calc();
    margin: 0;
    padding: 0;
    background-color: #9898cc;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #b5dbec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(137, 86, 86, 0.1);
}
h1, h2, h3 {
    color: #3c0c84;
}
p {
    color: #16924a;
}
.section {
    margin-bottom: 30px;
}
.section-title {
    margin-bottom: 10px;
    border-bottom: 2px solid #640c1633;
    padding-bottom: 5px;
}
.experience {
    margin-top: 20px;
}
.experience .job {
    margin-bottom: 15px;
}
.experience .job .title {
    font-weight: bold;
}
.experience .job .company {
    color: #777;
}
.education {
    margin-top: 20px;
}
.education .degree {
    margin-bottom: 15px;
}
.education .degree .title {
    font-weight: bold;
}
.education .degree .institution {
    color: #777;
}
