/* Your existing CSS styles */

/* Additional styles for sections */
h1{
    color:rgb(35, 12, 148);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
   

    border-style:solid;
    border: 5px outset rgb(59, 24, 105);
    background-color: rgb(238, 241, 243);
    
;
}
section {
    margin-bottom: 40px;
    }
  
  section h2 {
    color: #4b0da1;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-bottom: 50px;
  }
/* Additional styles for the preview section */
.preview-container {
    border: 1px solid #511111;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #9891a0;
    box-shadow: 0 0 10px rgba(83, 22, 22, 0.1);
  }  
